<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978489279002-dpm0h0imlbjlm49vha8sdm5v3qee5evr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978489279002-dpm0h0imlbjlm49vha8sdm5v3qee5evr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978489279002-brqjuitpogd66e2ro0s6memvi7gnd56q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9kH_9L8nleIWjS8CAuwGBabQ6n2Mdqc</string>
	<key>GCM_SENDER_ID</key>
	<string>978489279002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-2fc4f</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-2fc4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978489279002:ios:ae2ab46e6e795aa00307a3</string>
</dict>
</plist>